.topnav {
  margin-bottom: 0%;
}

h1 {
  color: white;
  background: #131720;
  text-align: center;
  font-size: 250%;
  animation: topnavcolor 5s infinite;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #131720;
}

.navbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 120%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/*
@keyframes topnavcolor {
	0% {color: red;}
	25% {color: green}
	38% {color: purple}
	50% {color: blue}
	53% {color: magenta}
	75% {color: orange}
	100% {color: red}
}*/
